<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Server</title>
</head>
<body>
    <h2><span style="color:blue;">Express</span> 수업중</h2>
    <img src="../static/img/apeach.png" alt="APEACH">
    <ul>
        <li>웹 서버를 생성하는 것과 관련된 기능을 담당하는 프레임워크</li>
        <li>웹 애플리케이션을 만들기 위한 각종 메소드와 미들웨어 등이 내장되어 있다.</li>
    </ul>
</body>
</html>