<html>
    <head>
        <title>실습35.파일 업로드 - 일반</title>
    </head>
    <body>
        <form action="/register" target="_blank" method="POST" enctype="multipart/form-data">
            <fieldset style="width: 300px;">
                <legend>개인 정보</legend>
                아이디: <input type="text" name="id"><br>
                비밀번호: <input type="password" name="pw"><br>
                이름: <input type="text" name="name"><br>
                나이: <input type="text" name="age">
            </fieldset>
            <br>
            <input type="file" name="userfile" id="userfile">
            <button>회원가입</button>
        </form>
    </body>
</html>