<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <form action="/calculator" method="post">
      <input type="number" name="num1" />
      +
      <input type="number" name="num2" />
      <button type="submit">제출</button>
    </form>
  </body>
</html>
