.App {
  text-align: center;
}

.test {
  margin: 0 auto;
  width: 450px;
  background: #faebd7;
  color: #d2691e;
  font-size: 35px;
  margin: 0 auto;
}
.inputClass {
  margin: 13px;
}

.rainbow {
  display: flex;
  flex-direction: row;
}
.rainbow div {
  width: 100px;
}

.red {
  background: red;
  height: 100px;
}
.orange {
  background: orange;
  height: 150px;
}
.yellow {
  background: yellow;
  height: 200px;
}
.green {
  background: green;
  height: 250px;
}
.blue {
  background: blue;
  height: 300px;
}
.navy {
  background: navy;
  height: 350px;
}
.purple {
  background: purple;
  height: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
