<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
  </head>
  <body>
    <h1>Hello! Main page</h1>
    <button><a href="/signup">회원가입</a></button>
    <button><a href="/signIn">로그인</a></button>
    <button><a href="/profile">프로필</a></button>
    <button><a href="/board">게시판</a></button>
  </body>
</html>
