.orange {
  color: orange;
}
.profile {
  position: relative;
  width: 300px;
  padding: 1rem;
  text-align: center;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.47);
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aqua;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
