<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>

  <body>
    <form
      action="/post/upload"
      method="post"
      style="display: flex; flex-direction: column"
    >
      <label for="title">제목:</label>
      <input type="text" name="title" id="title" />
      <label for="content">내용:</label>
      <textarea
        type="text"
        name="content"
        id="content"
        cols="30"
        rows="10"
        style="resize: none"
      ></textarea>
      <button type="submit">제출</button>
    </form>
  </body>
</html>
