<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form 정보받기</title>
  </head>
  <body>
    <h2>GET요청</h2>
    <form action="/getForm" method="get">
      <input type="text" name="id" placeholder="ID" />
      <input type="text" name="pw" placeholder="PW" />
      <button>제출</button>
    </form>
    <h2>POST 요청</h2>
    <form action="/postForm" method="post">
      <input type="text" name="id" placeholder="ID" />
      <input type="text" name="pw" placeholder="PW" />
      <button>제출</button>
    </form>
  </body>
</html>
