<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>실습22. 회원가입 > 로그인</title>
    <script>
      function login() {
        const form = document.getElementById("form");
        console.log(form.id.value);
        const result = document.getElementById("result");

        const data = { id: form.id.value, pw: form.pw.value };
        console.log(data);
        axios({
          url: "/login",
          method: "post",
          data,
          Headers,
        }).then((res) => {
          console.log("login");
          console.log(res.data);
          console.log(res.data.msg);
          document.querySelector("#result").innerHTML = res.data.msg;
        });
      }
    </script>
  </head>
  <body>
    <form id="form">
      <label for="id">id: </label><input type="text" name="id" id="id" /> <br />
      <label for="pw">pw: </label><input type="text" name="pw" id="pw" />
      <button type="button" onclick="login()">로그인</button>
      <div id="result"></div>
    </form>
  </body>
</html>
