<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <h2>Hello, CRUD</h2>
    <ul>
      <% for(let i=0; i < postData.length; i++){%>
      <li><a href="/post/<%= postData[i]._id %>"><%=postData[i].title%></a></li>
      <% } %>
    </ul>
  </body>
</html>
