<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>실습29. ejs와 static 활용하기</h1>
    <hr>
    <ul>
        <li>png 이미지 3개 업로드</li>
        <li>ejs for문을 이용해 png1,2,3 이미지 나오게 하기</li>
    </ul>
    <img src="../static/img/kakao.gif" alt="LION">
    <img src="../static/img/kakao2.png" alt="LION2">
    <img src="../static/img/kakao3.png" alt="LION3">
</body>
</html>