<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <h2><%= postInfo.title%></h2>
    <p><%= moment(postInfo.date).format('YYYY MMMM Do , HH:mm') %></p>
    <p><%= postInfo.content%></p>
    <button>수정하기</button>
    <button id="test">삭제하기</button>
  </body>
</html>
