<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <h2>Hello, CRUD</h2>
    <ul>
      <li><span>C</span>reate</li>
      <li><span>R</span>ead</li>
      <li><span>U</span>pdate</li>
      <li><span>D</span>elete</li>
    </ul>
  </body>
</html>
