<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <%# 주석 %>
    <!-- <img src="coffee.jpg" alt="" /> -->

    <form action="/calculator" method="post">
      <input type="number" name="num1" />
      <br />
      +
      <br />
      <input type="number" name="num2" />
      <br />
      <button type="submit">계산</button>
    </form>
  </body>
</html>
