/* COMMON */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #b1e1e2;
}

section {
  width: 1000px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

section .sky {
  width: 100%;
  height: 100%;
  position: relative;
}

section .sky .sun {
  width: 180px;
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -90px;
  top: -130px;
  transform-origin: center 600px;

}

section .sky .moon {
  width: 160px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: -130px;
  transform-origin: center 600px;

  
}

section .sky .cloud_1 {
  position: absolute;
  width: 160px;
  left: 0%;
  top: -30px;

    /* 애니메이션 */
    animation-name: cloud1;
    animation-duration: 9s;
    animation-duration: leaner;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
@-webkit-keyframes cloud1 {
  0% {left: 0;}
  100% {left: 100%;}
}

section .sky .cloud_2 {
  position: absolute;
  width: 90px;
  left: 12%;
  top: 20px;

  /* 애니메이션 */
  animation-name: cloud2;
  animation-duration: 10s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-direction: alternate

}
@-webkit-keyframes cloud2 {
  0% {left: 0;}
  100% {left: 100%;}
}

section .city .city_img {
  position: absolute;
  bottom: 0px;
  width: 1000px;
}
